@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Variables */

* {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    /* Colors */

    --black: #000;
    --white: #fff;
    --dark-grey: #282928;
    --orange: #f5793a;
    --beige: #E0E0DB;
    --red: #dc3545;
    
    /* Global Button Styling */

    --call-to-action: #f5793a;
    --active-orange: #c1461a;
}

/* Body */

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* Bootstrap Container Styling */

.container-fluid {
    --bs-gutter-x: 0; 
}

.row {
    --bs-gutter-x: 0;
}

/* Headings */

h1,
h2 {
    font-family: 'Monserrat', sans-serif;
}

/* Button Styling */

.call-to-action {
    background-color: var(--call-to-action);
    width: auto;
    display: inline-block;
    
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    color: var(--black);
    transition: transform 0.2s ease-in-out;  
}

.call-to-action:hover {
  transform: scale(1.05);
  background-color: var(--call-to-action);
}

/* Horizontal Rule */

.horizontal-rule {
    height: 10px;
    border-radius: 5px;
    background-color: var(--beige);
    width: 90%;
    margin: 0 auto;
}

.horizontal-rule-2 {
    height: 5px;
    border-radius: 5px;
    background-color: var(--beige);
    width: 100%;
    margin: 0 auto;
}

/* BASE STYLING */

/* Navbar */

.navbar-home {
    position: absolute;
    top: 0;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.0), rgba(0,0,0,1));
    z-index: 1;
}

.navbar-colour {
    background-color: var(--dark-grey);
}

#navbar-logo {
    width: 100%;
    max-width: 350px
}

.offcanvas-img {
    width: 80%;
}

.sidebar {
    background-color: var(--call-to-action);
    z-index: 3;
}

.btn.active {
    background-color: var(--active-orange);
}

/* Navbar Media Queries */
@media(min-width: 1200px){
    .btn-nav{
        margin-right: 10px;
    }
}
@media(max-width: 1200px){
    .btn-nav{
        margin-bottom: 10px;
        padding: 10px;
    }
}
@media(max-width: 468px){
    #navbar-logo {
        max-width: 210px;
    }
}
@media(max-width: 328px){
    #navbar-logo {
        max-width: 180px;
    }
}
/* Messages */

#messages{
    z-index: 2;
    top: 80px;
}

/* Footer */

.social-buttons {
    display: flex;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 5px;
}

/* INDEX PAGE */

/* Hero Image */

.hero-image-container {
    width: 100%;
    max-width: 100%;
    height: 50rem;
    overflow: hidden; 
    position: relative; 
}

#hero-image {
    width: 100%; 
    height: 100%; 
    max-width: none;
    max-height: none;
    display: block; 
    object-fit: cover; 
    object-position: center;
}

.hero-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: var(--white);
}

.hero-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.hero-content p {
    margin-bottom: 20px;
}

/* Latest Properties */

#latest-properties {
    background-color: var(--beige);
    padding-bottom: 3rem;
}

#latest-properties-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Review */
.review-image {
    height: 350px;
    object-fit: cover; 
    object-position: center;
    overflow: hidden;
}

.overlay-background {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white);
}

.overlay-text {
    max-width: 1320px;
}

/* PROPERTY LISTINGS PAGE */

/* Property Listing Cards */

.card {
    border: 1px solid var(--beige);
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    height: 25rem;
    width: 95%;
    max-width: 20rem;
    position: relative;
}

.card-image-container {
    padding: .5rem;
    height: 15rem;
    overflow: hidden;
}

.card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid var(--beige);
    border-radius: 0.5rem;
}

.card-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-price {
    font-size: 18px;
}

.card-features {
    font-size: 16px;
}

.card-features span {
    margin-right: 10px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

@media(max-width: 330px){
    .card {
        height: 28rem;
    }
}

/* Favourite Button Styling */

.fa-heart:hover {
    color: var(--red);
    transform: scale(1.3);
}

/* PROPERTY DETAIL PAGE */

.property-detail-img {
    border: 1px solid var(--beige);
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    overflow: hidden;
}

.property-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.property-details .formatted-price {
    margin: 0;
}

.formatted-price {
    font-size: 1.5rem;
}

.small-text {
    font-size: 0.9rem;
}

.list-group, .list-group-item{
    border: none;
}

/* ABOUT PAGE */

.agent-img {
    border-radius: 50%;
    max-width: 100px; 
    box-shadow: 0 0 20px var(--orange);
}

/* LOGON AND REGISTER PAGES */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.auth-container{
    max-width: 100%;
}

.auth-btn {
    width: 50%;
}

/* CONTACT US PAGE */

.contact-social-buttons{
    text-decoration: none;
    color: inherit;
    padding: 5px;
}

.message-section{
    background-color: var(--dark-grey);
    border-radius: 1rem;
}

#message{
    height: 15rem;
}

#map-container{
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 20rem;
    box-shadow: 0 0 2px var(--black);
}

/* Dashboard */

/* For smaller screens */
@media (max-width: 768px) {
    .table-responsive {
        overflow-x: auto;
    }
}

/* For larger screens */
@media (min-width: 768px) {
    .table-responsive {
        overflow-y: auto;
        max-height: 400px;
    }
}