{% extends 'base.html' %}
{% load static %}

{% block title %}Error 500{% endblock %}

{% block content %}
<div class="container-fluid background-image-container d-flex justify-content-center align-items-center">
    <img class="background-image position-absolute top-0 left-0 w-100 h-100" src="{% static 'images/background.jpg' %}" alt="Modern Apartment Background">
    <div class="container bg-white shadow rounded my-5 p-4 text-center">
        <h1 class="border-bottom">Error 500: Internal Server Error</h1>
        <i class="fa-solid fa-house-crack fa-beat fa-2xl mt-5"></i>
        <p class="p-3 h4">Sorry, something went wrong on our end. Please try again later.</p>
        <a class="btn call-to-action" href="/">Click Here to return home</a>
    </div>
</div>
{% endblock %}