{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Apex Estates | {% block title %}{% endblock %}</title>
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark {% if request.path == '/' %}navbar-home{% else %}navbar-colour{% endif %}">
        <div class="container-fluid">
            <!-- Logo -->
            <div class="col-md-4 text-center">
                <a href="/">
                    <img id="navbar-logo" src="{% static 'images/apex-logo-coloured.png' %}" alt="Apex Estates Logo">
                </a>
            </div>
            <!-- Center Nav Links -->
            <div class="col-md-4 d-flex justify-content-center align-items-center text-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/property_listings/' %}active{% endif %}" href="/property_listings">Property Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/about_us/' %}active{% endif %}" href="/about_us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/contact_us/' %}active{% endif %}" href="/contact_us">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/request_valuation/' %}active{% endif %}" href="#">Request Valuation</a>
                    </li>
                </ul>
            </div>
             <!-- Right Auth Links -->
            <div class="col-md-4 d-flex justify-content-center align-items-center text-center">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <span class="navbar-text">Logged in as {{user.first_name}} | </span>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link call-to-action {% if request.path == '/dashboard/' %}active{% endif %}" href="#">Dashboard</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/login/' %}active{% endif %}" href="/login">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link call-to-action {% if request.path == '/sign_up/' %}active{% endif %}" href="/sign_up">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
        {% block content %}
        {% endblock %}

    <!-- Footer -->
    <footer class="mt-auto bg-dark text-white">
        <div class="container p-4">
            <div class="row">
                <!-- Contact Details -->
                <div class="col-md-4 mb-4 text-center">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                    <p><i class="fas fa-home mr-3"></i> 123 Elmwood Avenue, London, SW1A 1AA, United Kingdom.</p>
                    <p><i class="fas fa-envelope mr-3"></i> info@apexestates.com</p>
                    <p><i class="fas fa-phone mr-3"></i> +44 20 7123 4567</p>
                </div>
                <!-- Opening Hours -->
                <div class="col-md-4 mb-4 text-center">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Opening Hours</h6>
                    <table class="table table-dark">
                        <tbody>
                            <tr>
                                <td>Mon - Fri:</td>
                                <td>8am - 6pm</td>
                            </tr>
                            <tr>
                                <td>Sat:</td>
                                <td>9am - 4pm</td>
                            </tr>
                            <tr>
                                <td>Sun:</td>
                                <td>Closed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Links -->
                <div class="col-md-4 text-center">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Links</h6>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="/" class="text-decoration-none text-white">Home</a>
                        </li>
                        <li>
                            <a href="/property_listings" class="text-decoration-none text-white">Property Listings</a>
                        </li>
                        <li>
                            <a href="/about_us" class="text-decoration-none text-white">About Us</a>
                        </li>
                        <li>
                            <a href="/contact_us" class="text-decoration-none text-white">Contact Us</a>
                        </li>
                        <li>
                            <a href="" class="text-decoration-none text-white">Request Valuation</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Social Media -->
            <div class="mb-4 social-buttons">
                <!-- Social Media Icons -->
                <a class="btn btn-outline-light m-1 rounded-circle social-icons" href="https://facebook.com" target="_blank"
                    rel="noopener" aria-label="Opens Apex Estates Facebook page (opens new tab on third party website)">
                    <i class="fa-brands fa-facebook-f fa-lg"></i>
                </a>
                <a class="btn btn-outline-light m-1 rounded-circle social-icons" href="https://youtube.com" target="_blank"
                    rel="noopener" aria-label="Opens Apex Estates YouTube page (opens new tab on third party website)">
                    <i class="fa-brands fa-youtube fa-lg"></i></i>
                </a>
                <a class="btn btn-outline-light m-1 rounded-circle social-icons" href="https://instagram.com"
                    target="_blank" rel="noopener"
                    aria-label="Opens Apex Estates Instagram page (opens new tab on third party website)">
                    <i class="fa-brands fa-instagram fa-xl"></i>
                </a>
                <a class="btn btn-outline-light m-1 rounded-circle social-icons" href="https://twitter.com" target="_blank"
                    rel="noopener" aria-label="Opens Apex Estates X page (opens new tab on third party website)">
                    <i class="fa-brands fa-x-twitter fa-lg"></i>
                </a>
            </div>
            <!-- Copyright -->
            <div class="text-center text-white">
                <p>Disclaimer: This site, created solely for educational purposes. None of the showcased properties are real
                    and do
                    not represent any actual listings.</p>
                <p>Copyright &copy; Radleigh Smith 2024</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8770ea99b5.js" crossorigin="anonymous"></script>
</body>
</html>