{% load static %}

<footer class="footer mt-auto bg-dark text-white">
    <div class="container p-4">
        <div class="row">
            <!-- Contact Details -->
            <div class="col-md-4 mb-4 text-center">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p><i class="fas fa-home me-2"></i>18 Cowcross St, London, EC1M 6DU</p>
                <p><i class="fas fa-envelope me-2"></i><a class="text-decoration-none text-white" href="mailto:info@apexestates.com" aria-label="Email: info@apexestates.com">info@apexestates.com</a></p>
                <p><i class="fas fa-phone me-2"></i><a class="text-decoration-none text-white" href="tel:07123456789" aria-label="Phone: 07123 456789">07123 456789</a></p>                    
            </div>
            <!-- Opening Hours -->
            <div class="col-md-4 mb-4 text-center">
                <h6 class="text-uppercase mb-4 font-weight-bold">Opening Hours</h6>
                <table class="table table-dark">
                    <tbody>
                        <tr>
                            <td>Mon - Fri:</td>
                            <td>8am - 6pm</td>
                        </tr>
                        <tr>
                            <td>Sat:</td>
                            <td>9am - 4pm</td>
                        </tr>
                        <tr>
                            <td>Sun:</td>
                            <td>Closed</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Links -->
            <div class="col-md-4 text-center">
                <h6 class="text-uppercase mb-4 font-weight-bold">Links</h6>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/" class="text-decoration-none text-white" aria-label="Go to Homepage">Home</a>
                    </li>
                    <li>
                        <a href="/property_listings" class="text-decoration-none text-white" aria-label="Go to Property Listings page">Property Listings</a>
                    </li>
                    <li>
                        <a href="/about_us" class="text-decoration-none text-white" aria-label="Go to About Us page">About Us</a>
                    </li>
                    <li>
                        <a href="/contact_us" class="text-decoration-none text-white" aria-label="Go to Contact Us page">Contact Us</a>
                    </li>
                    <li>
                        <a href="/request_valuation" class="text-decoration-none text-white" aria-label="Go to Request Valuation page">Request Valuation</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Social Media -->
        <div class="m-4 social-buttons">
            <!-- Social Media Icons -->
            <a class="btn btn-outline-light m-1 rounded-circle social-icons" href="https://facebook.com" target="_blank"
                rel="noopener" aria-label="Opens Apex Estates Facebook page (opens new tab on third party website)">
                <i class="fa-brands fa-facebook-f fa-lg"></i>
            </a>
            <a class="btn btn-outline-light m-1 rounded-circle social-icons" href="https://youtube.com" target="_blank"
                rel="noopener" aria-label="Opens Apex Estates YouTube page (opens new tab on third party website)">
                <i class="fa-brands fa-youtube fa-lg"></i>
            </a>
            <a class="btn btn-outline-light m-1 rounded-circle social-icons" href="https://instagram.com"
                target="_blank" rel="noopener"
                aria-label="Opens Apex Estates Instagram page (opens new tab on third party website)">
                <i class="fa-brands fa-instagram fa-xl"></i>
            </a>
            <a class="btn btn-outline-light m-1 rounded-circle social-icons" href="https://twitter.com" target="_blank"
                rel="noopener" aria-label="Opens Apex Estates X page (opens new tab on third party website)">
                <i class="fa-brands fa-x-twitter fa-lg"></i>
            </a>
        </div>
        <!-- Copyright -->
        <div class="text-center text-white">
            <p>Disclaimer: This site is created solely for educational purposes. None of the showcased properties are real
                and do
                not represent any actual listings.</p>
            <p>Copyright &copy; Radleigh Smith 2024</p>
        </div>
    </div>
</footer>