{% load static %}

<header>
    <nav class="navbar navbar-expand-xl navbar-dark text-center {% if request.path == '/' %}navbar-home{% else %}navbar-colour{% endif %}">
        <div class="container-fluid px-3">
            <!-- Logo -->
            <a class="navbar-brand" href="/">
                <img id="navbar-logo" src="{% static 'images/apex-logo-coloured.png' %}" alt="Apex Estates Logo">
            </a>
            <!-- Toggle Button -->
            <button class="navbar-toggler shadow-none border-0 ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Sidebar -->
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <!-- Sidebar Logo -->
                   <a href="{% url 'home' %}">
                    <img class="offcanvas-img" id="offcanvasDarkNavbarLabel"
                    src="{% static 'images/apex-logo-white.png' %}"></img>
                   </a>
                   <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <!-- Sidebar Body -->
                <div class="offcanvas-body pt-0 align-items-center d-flex flex-column flex-xl-row">
                    <ul class="navbar-nav mx-auto align-items-lg-center">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/property_listings/' %}active{% endif %}"
                                href="/property_listings">Property Listings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/about_us/' %}active{% endif %}"
                                href="/about_us">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/contact_us/' %}active{% endif %}"
                                href="/contact_us">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/request_valuation/' %}active{% endif %}"
                                href="/request_valuation">Request Valuation</a>
                        </li>
                    </ul>
                    <!-- User Auth -->
                    <div class="mt-auto">
                        <ul class="navbar-nav mx-auto align-items-lg-center">
                            {% if user.is_authenticated %}
                            <span class="navbar-text">Logged in as | {{user.first_name}}</span>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn call-to-action btn-nav {% if request.path == '/dashboard/' %}active{% endif %}"
                                    href="/dashboard">Dashboard</a>
                            </li>
                            {% if user.is_superuser or user.is_staff %}
                            <li class="nav-item">
                                <a class="nav-link btn call-to-action btn-nav" href="/admin">Admin</a>
                            </li>
                            {% endif %}
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/login/' %}active{% endif %}"
                                    href="/login">Log in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn call-to-action btn-nav {% if request.path == '/sign_up/' %}active{% endif %}"
                                    href="/sign_up">Register</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>