{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/summernote/dist/summernote.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Edit Property - {{ property.title }}{% endblock %}

{% block content %}
<div class="container-fluid background-image-container">
    <img class="background-image" src="{% static 'images/background.jpg' %}" alt="Background Image">
    <div class="container bg-white rounded shadow my-5 p-4">
        <h1 class="mb-4 text-center border-bottom">Edit Property - {{ property.title }}</h1>
        <form method="POST" enctype="multipart/form-data" class="px-5">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center d-grid gap-2 py-3">
                <button type="submit" class="btn call-to-action auth-btn">Save Changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote/dist/summernote.min.js"></script>
<script src="{% static 'js/property_description.js' %}"></script>
{% endblock %}