{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/summernote/dist/summernote.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Edit Property - {{ property.title }}{% endblock %}

{% block content %}
<div class="container-fluid background-image-container">
    <img class="background-image" src="{% static 'images/background.jpg' %}" alt="Modern Apartment Background">
    <div class="container bg-white rounded shadow my-5 p-4">
        <h1 class="mb-4 text-center border-bottom">Edit Property - {{ property.title }}</h1>
        <form method="POST" enctype="multipart/form-data" class="px-5">
            {% csrf_token %}
            <div class="mb-3 text-center">
                <p>Current Image</p>
                {% if "placeholder-home" in property.main_image.url %}
                    <img src="{% static 'images/placeholder-home.jpg' %}" alt="Awaiting Property Picture" class="img-fluid edit-img">
                {% else %}
                    <img src="{{ property.main_image.url }}" alt="{{ property.title }}" class="img-fluid edit-img">
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" name="title" value="{{ property.title }}" maxlength="200" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="main_image" class="form-label">Change Image</label>
                <input type="file" id="main_image" name="main_image" class="form-control">
            </div>
            <div class="mb-3">
                <label for="property_type" class="form-label">Property Type</label>
                <select name="property_type" id="property_type" class="form-select">
                    {% for choice in form.property_type.field.choices %}
                        <option value="{{ choice.0 }}" {% if choice.0 == property.property_type %}selected{% endif %}>{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" id="address" name="address" value="{{ property.address }}" maxlength="100" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" id="price" name="price" value="{{ property.price }}" min="0" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="bedrooms" class="form-label">Bedrooms</label>
                <input type="number" id="bedrooms" name="bedrooms" value="{{ property.bedrooms }}" min="0" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="bathrooms" class="form-label">Bathrooms</label>
                <input type="number" id="bathrooms" name="bathrooms" value="{{ property.bathrooms }}" min="0" class="form-control" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" id="garage" name="garage" class="form-check-input" {% if property.garage %}checked{% endif %}>
                <label for="garage" class="form-check-label">Garage</label>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" id="parking" name="parking" class="form-check-input" {% if property.parking %}checked{% endif %}>
                <label for="parking" class="form-check-label">Parking</label>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" id="description" cols="40" rows="5" class="form-control" required>{{ property.description }}</textarea>
            </div>
            <div class="text-center d-grid gap-2 py-3">
                <button type="submit" class="btn call-to-action">Save Changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote/dist/summernote.min.js"></script>
<script src="{% static 'js/property_description.js' %}"></script>
{% endblock %}