{% extends 'base.html' %}
{% load static %}

{% block title %}Property Listings{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="text-center">
            <h1>Property Listings</h1>
        </div>
    </div>
    <!-- Property List Cards -->
    <div class="row">
        {% for property in property_list %}
        <div class="col-lg-3 col-md-4">
            <div class="card mb-4 p-2">
                <div>
                    <div class="image-container">
                        <img class="card-img-top" src="{% static 'images/placeholder-home.jpg' %}" alt="placeholder image">
                    </div>
                    <div class="details">
                        <a href="{% url 'property_detail' slug=property.slug %}" class="card-link">
                            <h2 class="card-title pt-2">{{ property.title }} - {{ property.address }}</h2>
                        </a>
                        <p class="price">£{{ property.formatted_price }}</p>
                        <p class="features">
                            {{ property.bedrooms }} <i class="fa-solid fa-bed"></i>
                            {{ property.bathrooms }} <i class="fa-solid fa-toilet"></i>
                            <i class="fa-regular fa-star"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<ul class="pagination justify-content-center mt-4">
    {% if page_obj.has_previous %}
    <li>
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
    </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li>
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
    </li>
    {% endif %}
</ul>
</div>
{% endblock %}


