{% load static %}
<div class="col-xxl-3 col-md-6 mb-3 d-flex justify-content-center align-items-center">
    <div class="card m-3 ">
        <a href="{% url 'property_detail' slug=property.slug %}" class="card-link">
            <div class="card-image-container">
                {% if "placeholder-home" in property.main_image.url %}
                    <img src="{% static 'images/placeholder-home.jpg' %}" alt="placeholder image">
                {% else %}
                    <img src="{{ property.main_image.url }}" alt="{{ property.title }}">
                {% endif %}
            </div>
            <div class="card-body">
                <h2 class="card-title">{{ property.title }} - {{ property.address }}</h2>
            </div>
        </a>
        <div class="card-container">
            <div class="card-price">£{{ property.formatted_price }}</div>
            <div class="card-features">
                <span>{{ property.bedrooms }} <i class="fa-solid fa-bed"></i></span>
                <span>{{ property.bathrooms }} <i class="fa-solid fa-toilet"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
            </div>
        </div>
    </div>
</div>