{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Valuation Request{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row text-center">
        <h1 class="border-bottom">Property Valuation</h1>
        <p class="mx-5">Our experienced valuation specialists are ready to provide you with an accurate assessment. Whether you're
            selling or simply curious, fill out the form below to get started on your personalized valuation journey. At
            Apex Estates, we're here to help you unlock the potential of your property in today's dynamic real estate
            market.</p>
    </div>
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <div class="shadow p-4">
                <form method="post" action="{% url 'valuation_request' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group text-center">
                        <button type="submit" class="btn call-to-action">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
