{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Hero Image -->
    <section class="hero-image-container">
        <img id="hero-image" class="img-fluid" src="{% static 'images/hero-image.jpg' %}" alt="">
        <div class="hero-content">
            <h1>Welcome to Apex Estates, The Pinnacle of London Real Estate.</h1>
            <h2>Find Your Perfect Home Today.</h2>
            <a href="/property_listings" class="btn call-to-action">Property Listings</a>
        </div>
    </section>

    <div class="container-fluid">
        <!-- Latest Properties -->
        <section id="latest-properties">
            <h2 class="heading-underline text-center pt-3">Latest Properties</h2>
            <div class="row justify-content-center">
                {% for property in latest_properties %}
                <div class="col-lg-3 col-md-4">
                    <div class="card mb-4 p-2">
                        <div>
                            <div class="image-container">
                                {% if "placeholder-home" in property.main_image.url %}
                                    <img class="card-img-top" src="{% static 'images/placeholder-home.jpg' %}" alt="placeholder image">
                                {% else %}
                                    <img class="card-img-top" src="{{ property.main_image.url }}" alt="{{ property.title }}">
                                {% endif %}
                            </div>
                            <div class="details">
                                <a href="{% url 'property_detail' slug=property.slug %}" class="card-link">
                                    <h2 class="card-title pt-2">{{ property.title }} - {{ property.address }}</h2>
                                </a>
                                <p class="price">£{{ property.formatted_price }}</p>
                                <p class="features">
                                    {{ property.bedrooms }} <i class="fa-solid fa-bed"></i>
                                    {{ property.bathrooms }} <i class="fa-solid fa-toilet"></i>
                                    <i class="fa-regular fa-star"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <!-- Property Listings CTA -->
        <section class="row align-items-center">
            <div class="col-md-6 p-5">
                <h3>Discover the Essence of Modern Living.</h3>
                <p>Your Journey Home Begins with Us.</p>
                <a href="/property_listings" class="btn call-to-action">Property Listings</a>
            </div>
            <div class="col-md-6 p-5">
                <img class="img-fluid" src="{% static 'images/modern-living.jpg' %}" alt="Apartment living room with Thames and Tower Bridge view">
            </div>
        </section>
        <!-- Horizontal Rule -->
        <div class="horizontal-rule"></div>
        <!-- Valuation CTA -->
        <section class="row align-items-center">
            <div class="col-md-6  order-md-1 order-2 p-5">
                <img class="img-fluid" src="{% static 'images/london-alley.jpg' %}" alt="Black door in London alleyway.">
            </div>
            <div class="col-md-6 order-md-2 order-1 p-5">
                <h3>Ready for a Seamless Sale?</h3>
                <p>Your Next Chapter Begins Here, Request a Free Validation.</p>
                <a href="#" class="btn call-to-action">Free Valuation</a>
            </div>
        </section>
        <!-- Review -->
        <div class="row position-relative text-center">
            <img src="{% static 'images/review-banner.jpg' %}" alt="London Townhouses at dusk" class="img-fluid review-image">
        
            <div class="overlay-text position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                <h4 class="p-2">
                    "Apex Estates made finding my dream home a seamless and delightful journey; 
                    their personalized approach and attention to detail ensured every step was not just a transaction 
                    but a meaningful experience."
                </h4>
                <p>- David Miller</p>
            </div>
        </div>
        <!-- Newsletter -->
    </div>
{% endblock %}