{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Hero Image -->
    <section class="hero-image-container">
        <img id="hero-image" class="img-fluid" src="{% static 'images/hero-image.jpg' %}" alt="">
        <div class="hero-content">
            <h1>Welcome to Apex Estates, The Pinnacle of London Real Estate.</h1>
            <h2>Find Your Perfect Home Today.</h2>
            <a href="/property_listings" class="btn call-to-action">Property Listings</a>
        </div>
    </section>

    <div class="container-fluid">
        <!-- Latest Properties -->
        <section id="latest-properties">
            <h2 class="heading-underline text-center pt-3">Latest Properties</h2>
            <div class="row justify-content-center">
                {% for property in latest_properties %}
                <div class="col-lg-3 col-md-4">
                    <div class="card mb-4 p-2">
                        <div>
                            <div class="image-container">
                                {% if "placeholder-home" in property.main_image.url %}
                                    <img class="card-img-top" src="{% static 'images/placeholder-home.jpg' %}" alt="placeholder image">
                                {% else %}
                                    <img class="card-img-top" src="{{ property.main_image.url }}" alt="{{ property.title }}">
                                {% endif %}
                            </div>
                            <div class="details">
                                <a href="{% url 'property_detail' slug=property.slug %}" class="card-link">
                                    <h2 class="card-title pt-2">{{ property.title }} - {{ property.address }}</h2>
                                </a>
                                <p class="price">£{{ property.formatted_price }}</p>
                                <p class="features">
                                    {{ property.bedrooms }} <i class="fa-solid fa-bed"></i>
                                    {{ property.bathrooms }} <i class="fa-solid fa-toilet"></i>
                                    <i class="fa-regular fa-star"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <!-- Property Listings CTA -->
        <div class="row">
            3
        </div>
        <!-- Valuation CTA -->
        <div class="row">
            4
        </div>
        <!-- Review -->
        <div class="row">
            5
        </div>
        <!-- Newsletter -->
    </div>
{% endblock %}